@model GameWorthWatching.Models.NBAScoreboardModel
@{
    ViewBag.Title = "Worth Watching?";
}

<div>
    <div class="scoreboard-date-container">
        <input type="text" id="datepicker">
        <div class="date-button-container">
            <div class="prev-date">
                <button class="date-button" onclick="PreviousDate()">Prev</button>
            </div>
            <div class="next-date">
                <button class="date-button" onclick="NextDate()">Next</button>
            </div>
        </div>
    </div>
    @Html.Partial("_NBASchedule")
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            onSelect: function (dateStr) {
                var date = $(this).datepicker('getDate').toJSON();
                UpdateSchedule(date);
            }
        });

        $("#datepicker").datepicker("setDate", -1);
    });

    function UpdateSchedule(dateStr) {
        var url = '@Url.Action("GetSchedule", "Home")';
        $.post(url, { date: dateStr }, function (data) {
            $("#ScoreboardInfo").html(data);
        });
    }

    function PreviousDate() {
        var date = $('#datepicker').datepicker('getDate');
        date.setTime(date.getTime() - (1000 * 60 * 60 * 24))
        $('#datepicker').datepicker("setDate", date);
        UpdateSchedule(date.toJSON());
    }

    function NextDate() {
        var date = $('#datepicker').datepicker('getDate');
        date.setTime(date.getTime() + (1000 * 60 * 60 * 24))
        $('#datepicker').datepicker("setDate", date);
        UpdateSchedule(date.toJSON());
    }
</script>
