body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width: 370px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding-left: 8px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.yes-class{
    color: green;
}

.no-class {
    color: red;
}
.scoreboard-container {
    width: 340px;
    height: 107px;
    margin-top: 20px;
    clear: both;
    margin-bottom: 5px;
}
.scoreboard-game-details {
    border: 1px solid #cbccce;
    width: 209px;
    height: 106px;
    float: left;
}
.scoreboard-worth-watching-container {
    border-top: 1px solid #cbccce;
    border-right: 1px solid #cbccce;
    border-bottom: 1px solid #cbccce;
    width: 129px;
    height: 106px;
    float: left;
}
.scoreboard-spoiler-container {
}
.scoreboard-logo-container {
    display: table-cell;
    height: 50px;
    margin: 0 auto;
    min-width: 50px;
    overflow: hidden;
    padding-right: 4px;
    position: relative;
    vertical-align: middle;
    width: 50px;
}
.scoreboard-team-info {
    display: table-cell;
    font-size: 11px;
    line-height: 0.1;
    vertical-align: top;
    width: 100%;
}
.show-scores-button-container {
    display: table-cell;
}
.show-scores-button {
    border: none;
    background-color: #0043a7;
    height: 25px;
    width: 70px;
    border-radius: 2px;
    color: white;
}
.show-scores-button:active {
    background-color: #001e4a;
}
.not-worth-watching {
    background-color: #bd1b1b;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 29px;
}
.worth-watching {
    background-color: green;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
.show-why-button-container {
    width: 338px;
    text-align: center;
    border: 1px solid lightgray;
    border-top-color: lightgray;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    border-top-style: solid;
    border-top-width: 1px;
    border-top: none;
    margin-top: -11px;
    min-height: 46px;
    padding-top: 13px;
}
.show-why-button {
    border: none;
    background-color: #0043a7;
    height: 25px;
    width: 310px;
    border-radius: 2px;
    color: white;
    margin-left: 2px;
}
.show-why-button:active {
    background-color: #001e4a;
}
.show-why-details {
    display: none;
}
.show-scores-score {
    display: none;
    margin-left: 20px;
    font-size: large;
}
.table-team-detail-padding {
    padding-right: 15px;
    width: 125px;
}
.logo-image {
    height: 36px;
    width: 36px;
    margin-left: 6px;
}
.date-button-container {
    width: 400px;
    padding-top: 5px;
}
.prev-date {
    float: left;
}
.next-date {
    margin-left: 104px;
}
.date-button {
    border: none;
    background-color: #0043a7;
    height: 25px;
    width: 45px;
    border-radius: 2px;
    color: white;
}
.date-button:active {
    background-color: #001e4a;
}
.scoreboard-date-container
{
    margin-left: 100px;
}
.worth-watching-message {
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 100px;
}